<div id="home_main" class="container-fluid">
  <div id="logo" class="row justify-content-center">
    PLAN 2 GETHER
  </div>
  
  <div class="row justify-content-center">
      <p id="info" class="text-center">A platform that lets you share your to-do list with your friend<br>scroll down and join us </p>
  </div>
  
  <div id="down_b" class="row align-items-end justify-content-center" >
   
     <button [ngx-scroll-to]="'#login_main'"  class="col-1" style="position:absolute;bottom:10px;">
        <span class="glyphicon glyphicon-chevron-down" ></span>
    </button>
  </div>
  

</div>

